
.container {
	display: flex;
	flex-direction: nowrap;
	flex-direction: row-reverse;
	flex-direction: column;
	flex-direction: column-reverse;
}

.container {
	display: flex;
	flex-wrap: nowrap;/*The default value*/
	flex-wrap: wrap;/*Allows items to wrap*/
	flex-wrap: wrap-reverse;/*wraps items in the reverse order they are in html*/
}
