/*styles go here*/

img {
  border:none;
}

p {
  color: black;
  font-family: 'Abel', sans-serif;
  max-width: 500px;
  margin:auto;
}

img{
  max-width: 500px;
  margin:auto;
}

h1 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  max-width: 500px;
  margin:auto;
}

li{
  max-width: 500px;
  margin:auto;
}

body {
  background-color: #FFD4C0;
}

#container {
  width: 90%;
  margin: 0 auto;
}
