/*styles go here*/

img {
  border:none;
}

p {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Lato', sans-serif;
}


h1 {
  font-family: 'Hind', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

li{
  max-width: 500px;
  margin:auto;
  list-style-type: none;
}

body {
  background-color: #FFD4C0;
}

#nav a:link {
  display: block;
  color: #ffffff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}

#container {
  width: 90%;
  margin: 0 auto;
}
