/*styles go here*/

img {
  border:none;
}


p {
  color: black;
  font-family: 'Open Sans','Oswald', sans-serif;
  background-color: #7F756F;
}


h1 {
  font-family: 'Hind', 'Roboto', sans-serif;
  background-color: #FFA173;
}

li{
  max-width: 500px;
  margin:auto;
  list-style-type: none;
  background-color: #CCAA99;
}

body {
  background-color: #FFD4C0;
}

#nav a:link {
  display: block;
  color: #ffffff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}


.left {
   float: left;
   padding: 0 20px 20px 0;
}
